In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("C:/Users/adria/OneDrive/Desktop/201704-citibike-tripdata.csv")

In [3]:
data.head(5)

,Year,Month,Number of Trips,Number Unique Start,Number Unique End,Number Unique Bikes,Bike Number Cumulative,Cumulative Starting Station,Cumulative Ending Station
0,2013,6,577703,337,337,5794.0,5794,337,337
1,2013,7,843416,329,329,5461.0,5803,367,367
2,2013,8,1001958,330,330,5750.0,5852,367,367
3,2013,9,1034359,330,330,5444.0,5853,367,367
4,2013,10,1037712,330,330,5722.0,5937,367,367