Import The Needed Libraries

In [42]:
import numpy as np
import pandas as pd
import os

Directories Path

In [43]:
DIR_PATH = r"D:\Amin\Education\Course\Data Analytics and Visualization (Winter 2021-2022)\Project\DataSet";

Need to load the Valid Station Dictionary

In [44]:
Valid_Stations = np.load('Valid_Stations3.npy',allow_pickle='TRUE').item()

In [45]:
Start = dict.fromkeys(Valid_Stations, 0)
End = dict.fromkeys(Valid_Stations, 0)

Every time in a trip there are two stations that are involved, one for the start and one for the end.

In [46]:
def update(valid, Station, dataset, Feature_Lat, Feature_Long):
    for i in range(len(dataset)):
        if((dataset[Feature_Lat][i], dataset[Feature_Long][i]) in valid):
            Station[(dataset[Feature_Lat][i], dataset[Feature_Long][i])] += 1
    return Station

In [47]:
for year in os.listdir(DIR_PATH):
    new_dir = DIR_PATH + "\\" + year
    #if year == "2020":
     #   break
    for month in os.listdir(new_dir):
        FolderPath = new_dir + "\\" + month
        if(month == "ZipFile"):
            continue
        for item in os.listdir(FolderPath):
            DataSetPath = FolderPath + "\\" + item
            data = pd.read_csv(DataSetPath)
            if "start station latitude" in data:
                Start = update(Valid_Stations, Start, data, "start station latitude", "start station longitude")
                End = update(Valid_Stations, End, data, "end station latitude", "end station longitude")
            elif "Start Station Latitude" in data:
                Start = update(Valid_Stations, Start, data, "Start Station Latitude", "Start Station Longitude")
                End = update(Valid_Stations, End, data, "End Station Latitude", "End Station Longitude")
            elif "start_lat" in data:
                Start = update(Valid_Stations, Start, data, "start_lat", "start_lat")
                End = update(Valid_Stations, End, data, "end_lat", "end_lng")
            else:
                print("No Data this year")
            print(year, month)

2013 201306-citibike-tripdata
2013 201307-citibike-tripdata
2013 201308-citibike-tripdata
2013 201309-citibike-tripdata
2013 201310-citibike-tripdata
2013 201311-citibike-tripdata
2013 201312-citibike-tripdata
2014 201401-citibike-tripdata
2014 201402-citibike-tripdata
2014 201403-citibike-tripdata
2014 201404-citibike-tripdata
2014 201405-citibike-tripdata
2014 201406-citibike-tripdata
2014 201407-citibike-tripdata
2014 201408-citibike-tripdata
2014 201409-citibike-tripdata
2014 201410-citibike-tripdata
2014 201411-citibike-tripdata
2014 201412-citibike-tripdata
2015 201501-citibike-tripdata
2015 201502-citibike-tripdata
2015 201503-citibike-tripdata
2015 201504-citibike-tripdata
2015 201505-citibike-tripdata
2015 201506-citibike-tripdata
2015 201507-citibike-tripdata
2015 201508-citibike-tripdata
2015 201509-citibike-tripdata
2015 201510-citibike-tripdata
2015 201511-citibike-tripdata
2015 201512-citibike-tripdata
2016 201601-citibike-tripdata
2016 201602-citibike-tripdata
2016 201603-citibike-tripdata
2016 201604-citibike-tripdata
2016 201605-citibike-tripdata
2016 201606-citibike-tripdata
2016 201607-citibike-tripdata
2016 201608-citibike-tripdata
2016 201609-citibike-tripdata
2016 201610-citibike-tripdata
2016 201611-citibike-tripdata
2016 201612-citibike-tripdata
2017 201701-citibike-tripdata.csv
2017 201702-citibike-tripdata.csv
2017 201703-citibike-tripdata.csv
2017 201704-citibike-tripdata.csv
2017 201705-citibike-tripdata.csv
2017 201706-citibike-tripdata.csv
2017 201707-citibike-tripdata.csv
2017 201708-citibike-tripdata.csv
2017 201709-citibike-tripdata.csv
2017 201710-citibike-tripdata.csv
2017 201711-citibike-tripdata.csv
2017 201712-citibike-tripdata.csv
2018 201801-citibike-tripdata.csv
2018 201802-citibike-tripdata.csv
2018 201803-citibike-tripdata.csv
2018 201804-citibike-tripdata.csv
2018 201805-citibike-tripdata.csv
2018 201806-citibike-tripdata.csv
2018 201807-citibike-tripdata.csv
2018 201808-citibike-tripdata.csv
2018 201809-citibike-tripdata.csv
2018 201810-citibike-tripdata.csv
2018 201811-citibike-tripdata.csv
2018 201812-citibike-tripdata.csv
2019 201901-citibike-tripdata.csv
2019 201902-citibike-tripdata.csv
2019 201903-citibike-tripdata.csv
2019 201904-citibike-tripdata.csv
2019 201905-citibike-tripdata.csv
2019 201906-citibike-tripdata.csv
2019 201907-citibike-tripdata.csv
2019 201908-citibike-tripdata.csv
2019 201909-citibike-tripdata.csv
2019 201910-citibike-tripdata.csv
2019 201911-citibike-tripdata.csv
2019 201912-citibike-tripdata.csv
2020 202001-citibike-tripdata.csv
2020 202002-citibike-tripdata.csv
2020 202003-citibike-tripdata.csv
2020 202004-citibike-tripdata.csv
2020 202005-citibike-tripdata.csv
2020 202006-citibike-tripdata.csv
2020 202007-citibike-tripdata.csv
2020 202008-citibike-tripdata.csv
2020 202009-citibike-tripdata.csv
2020 202010-citibike-tripdata.csv
2020 202011-citibike-tripdata.csv
2020 202012-citibike-tripdata.csv
2021 202101-citibike-tripdata.csv

C:\Users\afadaei\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

2021 202102-citibike-tripdata.csv
2021 202103-citibike-tripdata.csv
2021 202104-citibike-tripdata.csv
2021 202105-citibike-tripdata.csv

C:\Users\afadaei\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

2021 202106-citibike-tripdata.csv
2021 202107-citibike-tripdata.csv
2021 202108-citibike-tripdata.csv
2021 202109-citibike-tripdata.csv
2021 202110-citibike-tripdata.csv
2021 202111-citibike-tripdata.csv
2021 202112-citibike-tripdata.csv
2022 202201-citibike-tripdata.csv

We will make .csv file for counting the number of times that the stations have been used.

In [51]:
np.save('Start.npy', Start) 
np.save('End.npy', End)

In [3]:
Start = np.load('Start.npy',allow_pickle='TRUE').item()
End = np.load('End.npy',allow_pickle='TRUE').item()

In [48]:
def Make_StartEnd_DataFrame(Starting_Stations, Ending_Stations):
    Start_Lat = [i[0] for i in Starting_Stations]
    Start_Long = [i[1] for i in Starting_Stations]
    #The lines below are not needed since both Starting_Station and Ending_Station are sorted in the same way
    #End_Lat = [i[0] for i in Ending_Stations]
    #End_Long = [i[1] for i in Ending_Stations]
    d = {"Start Latitude": Start_Lat, "Start Longitude": Start_Long, "Number Out": Starting_Stations.values(), "Number In": Ending_Stations.values()}
    df = pd.DataFrame(data=d)
    return df

In [56]:
Start_End_Data = Make_StartEnd_DataFrame(Start, End)

In [57]:
Start_End_Data

      Start Latitude  Start Longitude  Number Out  Number In
0          40.742354       -73.989151      285239     280352
1          40.695128       -73.995951      129149     146776
2          40.735243       -73.987586      127196     126463
3          40.705693       -74.016777      331255     385951
4          40.750380       -73.983390      246674     277796
...              ...              ...         ...        ...
1762       40.771203       -73.903865          30       4753
1763       40.774798       -73.903787          11       3961
1764       40.783956       -73.916894           4       2790
1765       40.782465       -73.914527           3       4307
1766       40.780478       -73.912212           6       5899

[1767 rows x 4 columns]

In [58]:
Start_End_Data.to_csv("Start_End.csv")