Import The Needed Libraries

In [34]:
import numpy as np
import pandas as pd
import os

Directories Path

In [35]:
DIR_PATH = r"D:\Amin\Education\Course\Data Analytics and Visualization (Winter 2021-2022)\Project\DataSet";

Need to load the Valid Station Dictionary

In [36]:
Valid_Stations = np.load('Valid_Stations3.npy',allow_pickle='TRUE').item()

In [37]:
Trip = {}

Every trip has a starting and ending point, we will record both of them as a 4D tuple in the dictionary

In [38]:
def Measure_Trip(dataset, valid, Feature_Lat_S, Feature_Long_S, Feature_Lat_E, Feature_Long_E):
    for i in range(len(dataset)):
        if(((dataset[Feature_Lat_S][i], dataset[Feature_Long_S][i]) in valid) and ((dataset[Feature_Lat_E][i], dataset[Feature_Long_E][i]) in valid)):
            if((dataset[Feature_Lat_S][i], dataset[Feature_Long_S][i], dataset[Feature_Lat_E][i], dataset[Feature_Long_E][i]) in Trip):
                Trip[(dataset[Feature_Lat_S][i], dataset[Feature_Long_S][i], dataset[Feature_Lat_E][i], dataset[Feature_Long_E][i])] += 1
            else:
                Trip[(dataset[Feature_Lat_S][i], dataset[Feature_Long_S][i], dataset[Feature_Lat_E][i], dataset[Feature_Long_E][i])] = 1
    return Trip

In [39]:
for year in os.listdir(DIR_PATH):
    new_dir = DIR_PATH + "\\" + year
    #if year == "2020":
     #   break
    for month in os.listdir(new_dir):
        FolderPath = new_dir + "\\" + month
        if(month == "ZipFile"):
            continue
        for item in os.listdir(FolderPath):
            DataSetPath = FolderPath + "\\" + item
            data = pd.read_csv(DataSetPath)
            if "start station latitude" in data:
                Measure_Trip(data, Valid_Stations, "start station latitude", "start station longitude", "end station latitude", "end station longitude")            
            elif "Start Station Latitude" in data:
                Measure_Trip(data, Valid_Stations, "Start Station Latitude", "Start Station Longitude", "End Station Latitude", "End Station Longitude")
            elif "start_lat" in data:
                Measure_Trip(data, Valid_Stations, "start_lat", "start_lat", "end_lat", "end_lng")
            else:
                print("No Data this year")
            print(year, month)

2013 201306-citibike-tripdata
2013 201307-citibike-tripdata
2013 201308-citibike-tripdata
2013 201309-citibike-tripdata
2013 201310-citibike-tripdata
2013 201311-citibike-tripdata
2013 201312-citibike-tripdata
2014 201401-citibike-tripdata
2014 201402-citibike-tripdata
2014 201403-citibike-tripdata
2014 201404-citibike-tripdata
2014 201405-citibike-tripdata
2014 201406-citibike-tripdata
2014 201407-citibike-tripdata
2014 201408-citibike-tripdata
2014 201409-citibike-tripdata
2014 201410-citibike-tripdata
2014 201411-citibike-tripdata
2014 201412-citibike-tripdata
2015 201501-citibike-tripdata
2015 201502-citibike-tripdata
2015 201503-citibike-tripdata
2015 201504-citibike-tripdata
2015 201505-citibike-tripdata
2015 201506-citibike-tripdata
2015 201507-citibike-tripdata
2015 201508-citibike-tripdata
2015 201509-citibike-tripdata
2015 201510-citibike-tripdata
2015 201511-citibike-tripdata
2015 201512-citibike-tripdata
2016 201601-citibike-tripdata
2016 201602-citibike-tripdata
2016 201603-citibike-tripdata
2016 201604-citibike-tripdata
2016 201605-citibike-tripdata
2016 201606-citibike-tripdata
2016 201607-citibike-tripdata
2016 201608-citibike-tripdata
2016 201609-citibike-tripdata
2016 201610-citibike-tripdata
2016 201611-citibike-tripdata
2016 201612-citibike-tripdata
2017 201701-citibike-tripdata.csv
2017 201702-citibike-tripdata.csv
2017 201703-citibike-tripdata.csv
2017 201704-citibike-tripdata.csv
2017 201705-citibike-tripdata.csv
2017 201706-citibike-tripdata.csv
2017 201707-citibike-tripdata.csv
2017 201708-citibike-tripdata.csv
2017 201709-citibike-tripdata.csv
2017 201710-citibike-tripdata.csv
2017 201711-citibike-tripdata.csv
2017 201712-citibike-tripdata.csv
2018 201801-citibike-tripdata.csv
2018 201802-citibike-tripdata.csv
2018 201803-citibike-tripdata.csv
2018 201804-citibike-tripdata.csv
2018 201805-citibike-tripdata.csv
2018 201806-citibike-tripdata.csv
2018 201807-citibike-tripdata.csv
2018 201808-citibike-tripdata.csv
2018 201809-citibike-tripdata.csv
2018 201810-citibike-tripdata.csv
2018 201811-citibike-tripdata.csv
2018 201812-citibike-tripdata.csv
2019 201901-citibike-tripdata.csv
2019 201902-citibike-tripdata.csv
2019 201903-citibike-tripdata.csv
2019 201904-citibike-tripdata.csv
2019 201905-citibike-tripdata.csv
2019 201906-citibike-tripdata.csv
2019 201907-citibike-tripdata.csv
2019 201908-citibike-tripdata.csv
2019 201909-citibike-tripdata.csv
2019 201910-citibike-tripdata.csv
2019 201911-citibike-tripdata.csv
2019 201912-citibike-tripdata.csv
2020 202001-citibike-tripdata.csv
2020 202002-citibike-tripdata.csv
2020 202003-citibike-tripdata.csv
2020 202004-citibike-tripdata.csv
2020 202005-citibike-tripdata.csv
2020 202006-citibike-tripdata.csv
2020 202007-citibike-tripdata.csv
2020 202008-citibike-tripdata.csv
2020 202009-citibike-tripdata.csv
2020 202010-citibike-tripdata.csv
2020 202011-citibike-tripdata.csv
2020 202012-citibike-tripdata.csv
2021 202101-citibike-tripdata.csv

C:\Users\afadaei\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

2021 202102-citibike-tripdata.csv
2021 202103-citibike-tripdata.csv
2021 202104-citibike-tripdata.csv
2021 202105-citibike-tripdata.csv

C:\Users\afadaei\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

2021 202106-citibike-tripdata.csv
2021 202107-citibike-tripdata.csv
2021 202108-citibike-tripdata.csv
2021 202109-citibike-tripdata.csv
2021 202110-citibike-tripdata.csv
2021 202111-citibike-tripdata.csv
2021 202112-citibike-tripdata.csv
2022 202201-citibike-tripdata.csv

We will make .csv file for counting the number of times that the stations have been used.

In [40]:
np.save('Trip.npy', Trip)

In [7]:
Trip = np.load('Trip.npy',allow_pickle='TRUE').item()

In [41]:
def Make_Trip_DataFrame(Trip_List):
    Start_Lat = [i[0] for i in Trip_List]
    Start_Long = [i[1] for i in Trip_List]
    End_Lat = [i[2] for i in Trip_List]
    End_Long = [i[3] for i in Trip_List]
    d = {"Start Latitude": Start_Lat, "Start Longitude": Start_Long, "End Latitude": End_Lat, "End Longitude": End_Long, "Number Trips": Trip_List.values()}
    df = pd.DataFrame(data=d)
    return df

In [42]:
Trip_Data = Make_Trip_DataFrame(Trip)

In [43]:
Trip_Data

,Start Latitude,Start Longitude,End Latitude,End Longitude,Number Trips
0,40.742354,-73.989151,40.743174,-74.003664,1396
1,40.695128,-73.995951,40.695128,-73.995951,4944
2,40.735243,-73.987586,40.691782,-73.973730,13
3,40.705693,-74.016777,40.689269,-73.989129,78
4,40.750380,-73.983390,40.695128,-73.995951,52
...,...,...,...,...,...
839253,40.830051,-73.892103,40.836733,-73.887931,1
839254,40.771203,-73.903865,40.747182,-73.943264,1
839255,40.753441,-73.912402,40.757420,-73.945133,1
839256,40.831998,-73.892686,40.839335,-73.886445,1
839257,40.691283,-73.945242,40.782750,-73.971370,1

In [44]:
Trip_Data.to_csv("Trip.csv")